.site-title,
.site-subTitle{
  display: block;
  text-align: center;
  line-height: 1em;
}

.site-title{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.7rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid shade(grey-lighter);
  color: $app-font-color-title;
}
.site-subTitle{
  color: shade(grey);
  margin: 0;
}
.site-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
