.layout-container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.site-margin{
  margin-bottom: 1rem;
  margin-top: 1rem;
  @include from(l){
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
}

.footer-container{
  margin-top: auto;
}

.grid-4{
  padding: $gutter;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  grid-gap: 1.5rem;
}
