/*
  =================================
      LAYOUT
  =================================
*/
.cBasic{
    @include grid('.cBasic__item', (1, 3, 4, 5), 1rem);
}
.cBasic-container{
  .cBasic {
    @extend %container;
    text-align: center;
  }
}



/*
  =================================
      DECORATION
  =================================
*/
.cBasic{
  margin-top: 1rem;
  margin-bottom: 4rem;
  &__item{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    &__img{
      width: 5rem;
      height: 5rem;
    }
  }
  h3,h4{
    text-align: center;
    color: color(secondary);
    font-weight: normal;
    font-size: 1em;
  }
  p{margin: 0;}
  ul{
    @extend %list;
  }
}
