// GENERAL STYLES
.skills{
  padding-bottom: 3rem;
  @include from(m){
    display: flex;
    justify-content: space-between;
    &__item{
      &:nth-child(1){ text-align: right; flex: 0 1 25rem; }
      &:nth-child(2){  flex: 0 0 12rem;  }
      &:nth-child(3){  flex: 0 1 25rem; }
    }
  }
}

// STYLES ICON DECORATION
@include from(m){
  .skills__item:last-child .skill__item:first-child{  margin-right: 1rem;  }
  .skills__item:first-child .skill__item:first-child{  margin-left: 1rem;  }
  .skills__item:first-child .skill{  flex-direction: row-reverse;  }
}
.skill{
  display: flex;
  align-items: center;
  &__item:first-child{
    // Size Icon
    flex: 0 0 2.5rem;
    height: 2.5rem;
    top: 0;
    &:before{  font-size: 1rem; top: 0;}

    // POSITION ICON
    display: flex;
    align-items: center;
    justify-content: center;

    // STYLE
    border-radius: 100%;

    //  COLOR
    background: color(color);
    //border: 1px solid color(secondary);
    &:before{ color: white; }
    @include to(m){
      margin-right: 1rem;
    }
    // ANIMATION IN HOVER
    transition: all .4s;
    &:hover{
      transform: rotate(360deg);
    }
  }
}

// STYLES DECORATION
.skill{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid shade(grey-lighter);
  background: white;
  padding: 1rem;
  border-radius: 5px;
  &__title{
    margin: 0;
    color: $app-font-color-title;
  }
  &__text{
    margin: 0.1rem 0 0;
  }
}
//.skills__item:last-child .skill__item:last-child,
//.skills__item:first-child .skill__item:last-child{
//    border: 1px solid color(medium-gray);
//    padding: 1rem;
//    flex: auto;
//}
//.skills__item:last-child .skill__item:last-child{
//  @include from(m){
//    border-left: transparent;
//  }
//  background: linear-gradient(90deg, transparent, white);
//}
//.skills__item:first-child .skill__item:last-child{
//  @include from(m){
//    border-right: transparent;
//  }
//  background: linear-gradient(90deg, white, transparent);
//}
